.anim-delay0s5{
	animation-delay: 0.5s;
}
.anim-delay1s{
	animation-delay: 1s;
}
.anim-delay0s5{
	animation-delay: 0.5s;
}
.anim-delay1s{
	animation-delay: 1s;
}
.anim-delay1s25{
	animation-delay: 1.25s;
}
.anim-delay1s5{
	animation-delay: 1.5s;
}
.anim-delay1s75{
	animation-delay: 1.75s;
}
.anim-delay2s{
	animation-delay: 2s;
}
.anim-delay2s25{
	animation-delay: 2.25s;
}
.anim-delay2s5{
	animation-delay: 2.5s;
}
.anim-delay2s75{
	animation-delay: 2.75s;
}
.anim-delay3s{
	animation-delay: 3s;
}
.anim-delay3s5{
	animation-delay: 3.5s;
}
.anim-delay4s{
	animation-delay: 4s;
}

